<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Askare</title>
    </head>
    <body>

        <h1>Askare: <span th:text="${askare.nimi}">askare</span></h1>
        
        <ul>
            <li>Prioriteetti: <span th:text="${askare.tarkeys}">numero</span></li>
           <!-- <li>Omistaja: <span th:text="${askare.omistaja.nimi}">omistaja</span></li>-->
            <li>Luokat
                <ul>
                    <li th:each="luokka: ${askare.luokat}">
                     <span th:text="${luokka.nimi}">luokka</span>   
                    </li>
                </ul>
            </li>
        </ul>

        <h2>Muuta askareen tärkeysastetta</h2>
        
            <form method="POST" th:action="@{/askareet/{askareId}/tarkeysmuutos(askareId=${askare.id})}">
                        <select name="tarkeys">
                            <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}">numero</option>

                        </select>
                <input type="submit" value="Muuta" />
            </form>        
        
        <h2>Lisää luokka askareeseen</h2>
        
            <form method="POST" th:action="@{/askareet/{askareId}/yhdista(askareId=${askare.id})}">
                <select name="luokkaId">
                    <option th:each="luokka : ${luokat}" th:value="${luokka.id}" th:text="${luokka.nimi}">luokat</option>
                </select>
                <input type="submit" value="Lisää" />
            </form>
        
        <p><a th:href="@{/askareet}">askareet</a><br/>
            <a th:href="@{/luokat}">luokat</a> </p>
        
    </body>
</html>
