<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Askareet</title>
    </head>
    <body>

        <h1>Kaikki askareet</h1>

            <table>
                <tr th:each="askare : ${askareet}">
                    <td><a th:href="@{/askareet/{id}(id=${askare.id})}">
                            <span th:text="${askare.nimi}">askare</span></a>
                    </td>
                    <td> 
                        <form th:action="@{/askareet/{id}(id=${askare.id})}" th:method="DELETE"><input type="submit" value="Poista!"/>
                        </form>
                    </td>
                </tr>
            </table>

        <h1>Lisää askare</h1>

        <form th:action="@{/askareet}" th:object="${askare}" method="POST">
            <p>Nimi: <input name="nimi"></input></p>
  <!--          <p>Luokka: <input name="luokka"></input></p>-->
            <input type="submit" value="Lisää"></input>
            <span th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">virheviesti</span>
        </form>

        <p>Takaisin <a href="index.html">aloitussivulle</a></p>
        
    </body>
</html>
