<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Askareet</title>
    </head>
    <body>

        <h1>Askarelista</h1>

            <ul>
                <li th:each="askare : ${askareet}">
                    <a th:href="@{/askareet/{id}(id=${askare.id})}">
                        <span th:text="${askare.nimi}">askare</span> 
                        <form th:action="@{/{askare}(askare=${askare.id})}" th:method="DELETE"><input type="submit" value="Done!"/>
                        </form>
                    </a>
                </li>
            </ul>

        <h1>Lisää askare</h1>

        <form th:action="@{/askareet}" method="POST">
            <p>Nimi: <input name="nimi"></input></p>
            <p>Luokka: <input name="luokka"></input></p>
            <input type="submit" value="Lisää"></input>
        </form>

    </body>
</html>
