<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Kayttajat</title>
    </head>
    <body>

        <h1>Käyttäjät</h1>

            <ul>
                <li th:each="kayttaja : ${kayttajat}">
                        <span th:text="${kayttaja.nimi}">kayttaja</span>
                </li>
            </ul>
        
        <p>Takaisin <a href="index.html">aloitussivulle</a></p>
        
    </body>
</html>
