<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Kayttajat</title>
    </head>
    <body>

        <h1>Käyttäjät</h1>
        
            <table>
                <tr th:each="kayttaja : ${kayttajat}">
                    <td><span th:text="${kayttaja.nimi}">kayttaja</span>
                    </td>
                    <td> 
                        <form th:action="@{/kayttajat/{id}(id=${kayttaja.id})}" th:method="DELETE"><input type="submit" value="Poista!"/>
                        </form>
                    </td>
                </tr>
            </table>
        
        <p>Takaisin <a href="index.html">aloitussivulle</a></p>
        
    </body>
</html>
