<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Luokka</title>
    </head>
    <body>

        <h1 th:text="${luokka.nimi}">luokka</h1>

        <h2>Askareet</h2>
         
        <table border = "1" cellpadding="5" cellspacing="5">
            <tr>
                <th>Tärkeys</th> 
                <th>Askare</th>
            </tr>                     
            <tr th:each="askare: ${luokka.askareet}">
                <td th:text="${askare.tarkeys}"></td>
                <td><a th:href="@{/askareet/{id}(id=${askare.id})}">
                        <span th:text="${askare.nimi}">askare</span> 
                    </a>
                </td>                
            </tr>
        </table>
        
        <p><a th:href="@{/luokat}">luokat</a><br/>
            <a th:href="@{/askareet}">askareet</a></p>
        
    </body>
</html>

